# Gowin user/session files
**/*.gprj.user
**/*.jou
**/*.bak
**/*.tmp
**/*.lock

# Gowin generated folders
**/impl/
**/temp/
**/log/

# Gowin generated outputs
*.fs
*.bin
*.bit
*.jed
*.svf
*.rpt
*.html
*.xml
*.log

# Editor/OS noise
.vscode/
*.swp
*~
.DS_Store
