# Ignore everything by default
*

# Allow directories
!*/

# Keep source and simulation folders
!**/src/
!**/src/**
!**/sim/
!**/sim/**

# Keep docs
!README.md
!**/README.md
!SimulationTools.txt

# Keep gitignore
!.gitignore
